<li>
	{{post}}

	<button class="change-up" data-id="{{id}}" data-newsleep="{{rank}}">
        up vote
	</button>

    <button class="change-down" data-id="{{id}}" data-newsleep="{{rank}}">
        down vote
	</button>

</li>
